* {
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0;
    background-image: url("trees.png");
}
.header {
    background-color: #ffffff;
    margin-bottom: 50px;
}
nav {
    width: 960px;
    margin: 0 auto;
}
.clearfix {
    overflow: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}
li {
    float: right;
    color: #777777;
    border-left: 1px solid #efefef;
}
li a {
    display: inline-block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 24px;
}
li a:hover:not(.active) {
    background-color: #ffffff;
}
.active {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 20px;
    float: left;
    text-decoration: none;
}
.wrapper {
    min-height: 100%;
    margin-bottom: 50px;
}
.about {
    margin: auto;
    width: 960px;
    padding: 10px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}
h2 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.gallery {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}
img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}
h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}
.push {
    height: 50px;
}
.footer {
    height: 50px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}